:root{
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --whiteColor:hsl(0, 0%,100%);
    --blackColor: hsl(0,0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0,0%, 93%);
    --greyBg: hsl(0,0%, 96%);
    --greyText:rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
 }
 .navBarSection .header{
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
     height: 80px;
      width: 100%;
      background-color:#f9f9fa;
     
    }
.logoDiv .logo img{
    cursor: pointer;
    align-items: center;
    justify-content: center;
    
    margin-left: 20px;
}
.navItem .flights{
    color: var(--color-primary,#008cff);  
}

.navBarSection .header .navBar{
    
       position: absolute;
        width: max-content;
       
        top: 0;
        left: 8%;
        background: transparent;
      
        
        transition: .5s ease;
        z-index: 1000;

}
.navLists
    {
        flex-direction: row;
        justify-content: center;
      
}
.navItem{
    padding: 1.2rem;
    
}

.navLink 
{
    color: var(--textColor);
    font-size: .9rem;
    font-weight: 600;
   

}
.navLink:hover{
    color: var(--color-primary,#008cff);        
}
.headerBtns{
    flex-direction: row;
    

}
.btn{
    
    margin-top: 2PX;
}
.btn a{
    font-weight: 600;
}
.btn a:hover{
    color: var(--whiteColor);
}
.loginBtn{
    background: none;
    border: 1px solid var(--color-primary,#008cff);
}
.loginBtn a {
    color: var(--color-primary,#2167d2);
    list-style: none;
    text-decoration: none;

}
.loginBtn a:hover {
    color: var(--color-primary,#e2e6ed);

}
.loginBtn:hover
{
    background: var(--color-primary,#008cff);
}
.navLink .icon{
  
    height: 20px;
    width: 20px;
    display: flex;
    
}
.holiday{
    align-items: center;
}
/*
@media (max-width:768px){
    .navBarSection .header .navBar{
        background-color: var(--greyBg);
           position: absolute;
            height: max-content;
            padding: 1rem;
            top: 0;
            left: 26%;
            box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
            transition: .5s ease;
            z-index: 1000;
    
    }
    .navLists
        {
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin: auto;
    }
    .navItem{
        padding: 1rem 0;
    }
    .navLink 
    {
        color: var(--textColor);
        font-size: .9rem;
        font-weight: 600;
       
    
    }
    .navLink:hover{
        color: var(--color-primary,#008cff);        
    }
    .headerBtns{
        flex-direction: column;
    
    }
    .btn{
        margin-top: 1rem;
    }
    .btn a{
        font-weight: 600;
    }
    .btn a:hover{
        color: var(--whiteColor);
    }
    .loginBtn{
        background: none;
        border: 1px solid var(--color-primary,#008cff);
    }
    .loginBtn a {
        color: var(--color-primary,#2167d2);
    
    }
    .loginBtn a:hover {
        color: var(--color-primary,#e2e6ed);
    
    }
    .loginBtn:hover
    {
        background: var(--color-primary,#008cff);
    }
    .closeNavbar
    {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: var(--color-primary,#6c6f70);
    }
    .closeNavbar:hover .icon 
    {
        color: var(--color-primary,#109ecd);
    }
    .activeNavbar{
        left: 0;
    }
    .toggleNavbar .icon{
        display: flex;
    
    }
    }
  npm star  
*/

 


 /*
 .navBarSection .header
 {
    background-color: aqua;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: transparent;
    z-index: 1000;
 }
 .logoDiv .logo{
    display: flex;
    align-items: center;
    padding-left: 40px;

 }
 
.navBarSection .header .navBar{
        background-color: var(--greyBg);
       position: relative;
        height: max-content;
        padding: 1rem;
        top: 0;
        left: 0;
        box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
        transition: .5s ease;
        z-index: 1000;

    }
    .navLists
    {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
    }
    
 

    
 


    
*/
.home{
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image: url('data:image/webp;base64,UklGRnARAABXRUJQVlA4IGQRAAAw6QCdASqgBQUCPkkkkEaioiGhIAgAUAkJaW7hV69+6vun51Z/fRZ//Ow//fAw8i//9/+acv//0/9r/29ZH6Bf/6AL//aE7kH9//+v2AJ7APfbJyHvtk5D32ych77ZOQ99snIe+2TkPfbJyHvtk5D32ych77ZOQ99snIe+2TkPfbJyHvtk5D32ych77ZOQ99snIe+2TkPfbJyHvtk5D32ych77ZOQ99snIe+2TkPfbJyHvtk5D32ych77ZOQ99snIe+2TkPfbJyHvtk5D32ych77ZOQ99snIe+2TkPfbJyHvtk5D32ych77ZOQ99snIe+2TkPfbJyHvtk5D32ych77ZOQ99snIe+2TkPfbJyHvtjiYU2C6U2rY08R5Q+bBn0KJ8VkpdLz8U7p/TqBo3BNb7BdKbVsaeI8ogWS7XtKYS7SoFku3ebJyHvtlFMcogWS7Xi7HKIFku149qmu0qBZLtfsQeZZDmhZ2p+sIeNcwmQoPacDYGlW934opGhjQRBL/ZPtpwPgkU8GPZIG2V4ZJLJQuCn6wVU71i02E0pPjE/fbXfdXjlhK8GHM2c8/HQKEGLjnHWTbYCqegQIE0BIZW7IhAiAgTXusCBMiECICBOkAhPLEIQIgQE/CI0IwRBAiBAi9KWKn2QHZAHuppAgQ6dm5OQ5T+vgimt9KXRstMnvQsP/3/wdHiDapKQzGyPVjk4rAIyNR0A3juR0CzK0VHWu75BYH6UKSESFhpjDm0JwMeeAG7uRFpUTd/hEhBtfR3G5IaLwWdq2kYKx9JN5XRWfhovBZ2rX2iO+7A8iAEwilfjIITnqQZbKdJsa/de5qVZq7N+DbtgqLZZg2KwBuKoL4c2oT4bt358QedUPl8gugsfFqDQ6HGRCy38TW89r8eUecgkquy3O/MYIc6y2cgkquy3O2lPKNe5qey26+CEjtIbNA1CfLCFJLOQ1QjahOdZbOQSVXZbnIp0EW6h3DARAiIiiVjxAhNA5IgIiIpr0N2zLgOSIRERVDd54wBQgURDIiw1FT5d2hQIiIhlxAVZDUxDNmbG+1IKNQefrcvhZBaLUe/PsEZnk9omNMCiNlGFFHNF6ueItQHl/VubG+1IE3QSsZ3ycFy7iFL6n1SS44Th3IeTouTPto2a3Z0W5T2W6kglh/1dMDMgVI1zD/rWPBjoIcLQn/EceDH8xmumbgjx8FyZjNeUFKju79/3wgRsCdFUyz6KymCy+rjmekpYKRrZhelTOLmnXfMRYm/PNMsCuen0WqzXmbxAwNENmSjvqv2ZRAX/RjDAo4oVRg4Ykid/8e53gZHjWzh1kicGHc2NGXmxbm6SaiYeaArcdQn0EdbL8icGHcveI4oVRg4Ykid/+mEREWibl8g2068jRZhh78p7LdVRF4T9fBAK9UjXMQk98PIJZxrulIrWQbadeRosww9+U9luqoi8J+vggFeqRqSTrLL3NMdy/UNr0dFNZdlv4pMcoy5eWNuvghSSrcprLfwSEKSWcimr6Jx580vR0U1l2W/ikxyjLl5Y26+CFJKtxWZR/i19l9SBVusYBy96xdEBdDMrvYq9KqkCrdYwDl71i6IC6GZXexV6VVIFW6xgHL3vrEIopKNPJkhEIRFjScTpSIP5ERWik04KCD0REVopNOCgg9ERFaKTTgoIPRERWincRFfREREMiIiIhkREREMiIiIhkREREMiIiIhkREREMiIiIhkREREMiIiIhkRFBNj//z0YFYUWxptkEK6jkpJ3v9JN2/6t6e8egQQxh/UEbA/V6fjvQIIYw/qCNgfq9Px3oEEMYf1BGwP1en470CCGMPtzKc4mxNzm6SBWnkTSRAiVnIFgIROJECJvtAW8xFAkQIn3UChzIUqiAik8QKjIiWyIEIlpSTKTsRSjwJjHL0KBIptZKWlhkTSRPKdzyyj8UmiYe3mMcvQoEim1kpaWGRNMGhERERDIifTAbBGugCIhkRE7NUMpnXAERCIiJtyu+B/iAIhERETMX5N7zKAQiIiIlhnvm0jUARET1O6QuUbAjbrLZwzPLG3XwQpEqnOtdmzgIefhjlGWF8eXaeCG18EKSWbfF7mp6LY04QpJZyGawnPWqTFJjlGnpJ6QyQxAn7z1FT956ip+89RU/eeoqfvPUVP3nqKn7z1FT956ip+89RU/eeoqfvPUVP3np9CBifcVc2XaFjiG7zPJnmKXj4ofXlEMJ72j7r5hyuF2K1HltXS7ip+5v9QjzQivHU4kPMOOsmvH+D6+Tn7rwmc1uhk+B4xFZP+R2JRP2xx6Qz1Y5TC/9hi73EPXhH3l4USOQyV9WQrPFz/90GcmDd8EbLhu39SUIKWQWj9OFahCBtROyCJo6yzSCkbomvEobIWPaLwLnZfHR/IFMIxx6Mm8pSYgVojYZm0J7h8EBdEXFayYmr6ZQKORiHEljitxZArJGsDa8XJyHvtk5D32ych77ZOQ99snIe+2TkPfbJyHvtk5D32ych8IceWAD+/ikW/zt+ZPzJvl/pP2L7FvUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAL/S0MAC3ySrAAorWhwAJCaIgAB6hmwAAc3xt4AAAAAAAAAAAAAAAAAAjMaPAnoqABZXlJwup5KO4uqwcxV8886YZvcY0IQLyQz0sUrPSYRjGrbGYjaz1lg0tly/GLyRDabcUG/vi374sGlsuX4xeSIbTbig398W/fFg0tly/GLyRDabcUG/vi374doj49AiUHj4KRD1QmmrRAVfFuz6Jzp+xsoEtI9meSM9KNXHe8C2G4siXqhNNWiArOcnCiWKMVX9JEAdwh7Eh6GQ3MqzugViS8L0FRC8BbZZ9XEhBp6xeJup+gmSWz0qlXLVQ8EIJDktnpVRhJeJup+gmSWz0qlXLVQ8EIJDktnpVRhStbiy2cdAKwkZASFGImZASxKgmEEIrcUfrKGwewAUoOmjeKP1lDYPYANwRBp0Epcewy08AGtbrEqCUuPYZaeA+bGKkoJM1PLMgbMJI1RipoQCeVR1RlbSTy3pmDZuEqqqqnoDZrH6zSdq7BZgfYJOr7OaRa4O7Uz0eovQCeVR1RlXfMWJu89kpPT79N/N+O5U1t0F0uu5/R7CZrnPHvwgpIjuB4dGIRfsz54UdbLdAyzJtGzU5nMK+dHwQ4+M6exEfmph7HKsNm0kFPTYkvaNXnCCl6elu+IOu9ojRpdsruHkmuPvULI/8SpBYtJBT02JL2jV5wgpenpbviDrvaIUM2jV5wgpenpbviDrvaIUM2jV5wgpenpbviDrvaMeuli9ryy9SLyYcRxTDRFgLQw+whk3XjxIhlsPy41LDvLaGdePEiGWFxNJ78eLMoDdcbBXbQp/AJa+WZQG642Cu2hT+AS18sygN1xsFdU0RdTZ2j76bUoXl9Yrg2J7m3bKq9erL1axf7w8Z1yoE2ZVZhb0NMNXMggU3BZKxOjJV32vIJjjdIW15jtQuEi9Dv/wiHqzXQwhMfU6LbiuhQTMMb4E4+67dv5pj2n0W3FlEQm24r5xDTG6ZjZCd/7WvdqZoh/osfMIaS4onmD7ifTRGjaMf6URCYQ1BChRkawpmxyy92pmiH+ix8whpLiieYPuJ9NEaNq26Az5SfLD5Hkx6qpgiyprAoU94zdPIN7pipcxp7VVTBFekeTzGTIG6IN7L+hau1ZeQ6BnNq8YEmLZ4nEyIB7pipcxp7VVSfM1LdlXPaaKFYNifKDfzCjtOqk5aImboz9VXb5QdREyKlzGnt4NCgDD3L9+HRXF/oAABXTYvQAAAj383M2AAPONll6AAFdNi9AAACPfzczfsiTWmWFsjkzDSUGPSOBALCiyfKJLC2903PvEQcmraMybwrlzNMD2TWxTXHAkKLJ8oksLb3Tc+8RByatozJvCuXM0wPZNbFNccCQosnyiSwtvdNz7xEHJq2jMm8K5czTA9k1sU1xwJCiyfWu3sqi8DE8OpNCfIuFp0emP1iSf1dlNccCQosn1rt7KovAxPDqTQnyLhadHpj9Ykn9XZTX8aXuFKam3AFw5yn1sh6LApTWpQmJ802Ck0vay7P71NS249m8poShorEHp5SP+HBAnnd02Z57MeLRqh9j88L5SUThfHLBw4d5lLRSevyBV/wvl7eug87lRBeKllLRSevyBV/wvl7eug87lRBeKllg40kYB29PQAAAAAAAAAAAAAAAAAAAFrsWlCS9k66Gf2ODr+ufDKVMFgdf1z4ZSpgsDr+ufDKVMFgdf1z4ZSpgsDr+w3vNg3dx4HvVl8znT/9QfPSnk4RkbzKNhGQaD83Txb+mrjAY/jfTo3foVLAyjXS4SIoJXtVyDWv19R9w/mIV5CCIiyUIrQ1Zo4GASM+y3q5YnFiZF0+P/7JA0lnVpcja+AQBadP/1B89KeThGRRq8/xa1+vqPuH8xCvIQREWShFaGrNHAwCRn2W9XLE4sTIunx//ZIGks6tLkbXwCALTp/+oPnpTycQeDP5waLX+AEVHUEpUd52yXh6tNuppUcHN/C2LtVSOoJSo7ztkvD1abdTSo4Ob+FsXaqkdQSlR3nbJeHq026mlRwc38LYu1VI6glKjvO2S8PVpt1NKjg5v4WxdqqR1BKVHedsl4erTbqaVHBzfwti7VUjqCUqO9OkV8JQHwAdJdSQxB7XmCZ6Hyzy9XwTONhoY/W+f6R2oZvXIs1DfdC00UqSGIPa+IBzlWgtDuUJM2dmrqwiXFcT36CU8w35mN/MpUojfeYNT/NxPfoJTmC9ttOn3yOiN95g1P83E9+glOYL2206ffI6I33mDU/zcT36CU5gvbbTp98jojfeYNT/NxPfoJTmC9ttOn3yOiN95g1P83E9/G8DVdXGZZwLk6HQsw4e/uBVWairC934vPKc8kLwDGg0S840G5EGGj8Kq/4pTU/78Z5IXgGNBol5xoNyIMNH4VV/xSmp/34zyQvAMaDRLzjQbkQYaPwqr/ilNT/vxnkheAY0GiXnGg3Igw0fhVX/FKan/fjPJM/cW1aoGKsBIYodMaBfkcZ1QgjH6pCDkOMHNU+pqBXES72fSwZ8nF0SjwW4g/ApYJI9xjHO6ls3ckR/PiOsUXFtXz3baYYcDcGuNDN+XE+4fgQ6G5npc+Ti6JR4LcQfgUsEke4xjndS2buSI/nxHWKLi2r57ttMMOBuDXGhm/LifcPwIdDcz0ufJxdkC2G5AACJvLnAAAm1j4aAACxcKqQAALmwLYAAA0M9AgAEH1h3Iqqhw/NjaJUJ5ntA3WD/EAwVRBdiOQHsgj6HsDHwN9kmBf2Q+yEtGCCiTJ3lDWRKwKKoYo9GuKOU+Aj8d0wd8IpbhD8dwKKoYo9GuKOU+Aj8d0wd8IpbhD8dwKKoYo9GuKOU+Aj8d0wd8IpbhD8dwKKoYo9GuKOU+Aj8d0wd8IpbhD8dwKKoYo9GuKOU+Aj8d0wd8IpbhD+laha+w/mbPoqq5PTqeF5uXIPBY8cESfSwCIR6dffY5DkaFQ4dl7keV51JKZRqmx7I+DnQeGUyKor/Dq+pVg3DSLHEphHj0Joe3X6qktTYwvQ6pT383ifUBsS0mD/P5smwJL1OFQ4yP9Q5R0B2QlBGItfwvK4oAY6XIObG+AYX5A4FORBDCpYMfgBg2BJepwqHGR/qHv/Pr/L+8Yy0GTGjEFymZM9tZRzW2D53iXsVEKPucCn8A9p7RNH4t3ZWdxUzEyWMZyoTeqAU/FTK1g92iCBiPuEWR95bkDQz/zxq5PBjOVCb1QCn4qZWsHu0QQMR9wiyPvLcgaGf+eNXJ4MZyoTeqAU/FTK1g92iCBiPuEWR95bkDQz/zxq5PBjOVCb1QCn4qZWsHu0QQMR9wiyPvLcgaGf+bNda0wBB4HgnZaAIWMSuKALBVfTcAQ8ctdEAWiq+oHVgAAAA=');
}


.home .homeCard
{
   /* width: 75%;
   
    border-radius: 1rem;
  
    background: var(--whiteColor);
    margin-top: 150px;
    gap: 1rem;
    position: relative;
    padding-left: 20px;
  
   margin: auto;
  
   
    box-shadow: 0 2px 8px 4px rgba(178,178,178,0.45);*/
    width: 75%;
    margin: auto;
    border-radius: 1rem;
    padding: 2rem;
    background: var(--whiteColor);
    position: relative;
    gap: 1rem;
    
    margin-top: 130px;
    box-shadow: 0 2px 8px 4px rgba(178,178,178,0.45);
   


}
.homeCard
{
  margin-top: 80px;
}


.bookways{
   display: flex;
    margin-left: 10px;
    cursor: pointer;
}
.bookways span{
    color: rgb(102, 101, 101);
    font-weight: 500;
    font-size: 15px;
}
.roundway{
    padding-left: 1rem;
}
.multiway{
    padding-left: 1rem;
}
.BookFlights{
   margin-left: 500px;
   color: rgb(102, 101, 101);
   font-weight: 500;
   font-size: 15px;
}
.LocationDistains{
    width: 100%;
    margin: auto;
    display: flex;
    border: 1px solid rgba(226, 223, 223, 0.45);
    border-radius: 1rem;
    padding: 2rem;
    flex-direction: row;
    position: relative;
   gap: 1rem;
    margin-top: px;
   
    

}
.form-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}




/*
.locationDiv .distDiv .depaDiv .returDiv{
    width: 50%;

    box-shadow: 0 2px 8px 4px rgba(178,178,178,0.45);
}

*/
.locationDiv{
    margin-left: 20px;
   

}
.distDiv{
    margin-left: 10px;
}
.depaDiv{
    margin-left: 10px;
}
.returDiv{
    margin-left: 10px;
}

label{
   
    color: rgb(93, 91, 91);
    font-weight: 500;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    
}
.input1
{
    width: 100%;
    background:var(--inputColor);
    border-radius: 100px;
    border: none;
    padding: 12px;
    padding-left: 25px;
    font-size: 13px;
    font-weight: 500;
   
   
}
/*
input
{
    width: 100%;
    background:var(--inputColor);
    border-radius: 100px;
    border: none;
    padding: 12px;
    padding-left: 25px;
    
    font-size: 13px;
    font-weight: 500;
   
   
}*/
.input1::placeholder
{
font-size: 13px;
opacity: .5;
font-weight: 400;

}
input:focus
{
    outline: none;
}


.btn{
    padding: .6rem 1.5rem;
    color: var(--whiteColor);
    font-weight: 600;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
 
}
.btns{
    background-image: var(--color-btn-primary-bg,linear-gradient(93deg,#53b2fe,#065af3));
    width: 20%;
    margin-bottom: -50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.makemyflex .hrtlcenter .flightfare span{
    font-size: 10px
}
.makemyflex .hrtlcenter
{
    align-items: center;
    display: flex;
}
.specialFareNew{
   
    width: 50%;
  
    display: flex;
    border: 1px solid rgba(133, 131, 131, 0.45);
   flex-direction: row;
    position: relative;
   background-color:#f2f2f2;

  
}
.makeflex .hrtlcenter ul{
    display: flex;
    position: relative;
    background: #c1bdbd;
    border-radius: 4px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
    margin-top: 20px;
}
.specialFareNew li:first-of-type {
    border-left: none;
    border-radius: 4px 0 0 4px;
}
.specialFareNew{
    padding-left: 20px;
}
.specialFareNew li{
    
        position: relative;
        padding: 2px 2px 2px 5px;
        cursor: pointer;
        font-size: calc(var(--font-scale, 1) * 12px);
        color: #4a4a4a;
        border-left: solid 1px #fff;
        display: flex;
        align-items: center;
        height: 45px;
        min-width: 80px;
        max-width: 134px;
        line-height: 14px !important;
        border-right: 3px solid rgb(243, 243, 246);
        
    }
    .Trading{
        display:"flex";
        flex-direction:"row";
    }
    
    .Treadatem{
        background-color: #4a4a4a;
        display: flex;
        flex-direction: row;
        height: 30px;
        width: 50px;
    }
    .specialFareNews
    { 
        background-color: #edeff3;
        position: relative;
        padding: 2px 5px 2px 5px;
        cursor: pointer;
        font-size: calc(var(--font-scale, 1) * 12px);
        color: #4a4a4a;
        border-left: solid 1px #fff;
        display: flex;
        align-items: center;
        height: 45px;
        min-width: 100px;
        max-width: 150px;
        line-height: 14px !important;
       border-radius: 10px;
       margin-left: 20px;
    }

